.header, section,footer{
    width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
div{
    padding-top: 40px;
}
@media (max-width: 960px) 
{
    .header, section {width: 800px;
        padding: 20px;}
}
@media (max-width: 720px) 
{
    .header, section {width: 500px;
        padding: 20px;}
}
@media (max-width: 540px) 
{
    .header, section {width: 400px;
        padding: 5px;}
}